<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hxr.user.dao.AppUserDao">

    <sql id="where">
        <where>
            <if test="username != null nad username != ''">
                <bind name="_username" value="'%' + username + '%'"/>
                and u.username like #{_username}
            </if>
            <if test="nickname != null and nickname != ''">
                <bind name="_nickname" value="'%' + nickname + '%'"/>
                and u.nickname like #{_nickname}
            </if>
            <if test="enabled != null and enabled != ''">
                and t.enabled = #{enabled}
            </if>
            <if test="type != null and type != ''">
            and t.type = #{type}
            </if>
        </where>
    </sql>

    <!-- 获取所有满足条件的用户数 -->
    <select id="count" resultType="int">
        select count(*) from app_user as u
        <include refid="where" />  <!-- 获取对应id的sql中的逻辑语句 -->
    </select>

    <!-- 查询所有满足条件的用户，按用户id进行降序排序，并进行分页 -->
    <select id="findData" resultType="AppUser">
        select * from app_user as u
        <include refid="where"/>
        order by u.id desc
        limit #{start},#{length}
    </select>

    <!-- 更新表中的数据 -->
    <update id="update">
        update app_user
        <set>
            <if test="password != null and password != ''">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="nickname != null and nickname != ''">
                nickname = #{nickname,jdbcType=VARCHAR},
            </if>
            <if test="headImgUrl != null and headImgUrl != ''">
                headImgUrl = #{headImgUrl,jdbcType=VARCHAR},
            </if>
            <if test="phone != null and phone != ''">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="sex != null">
                sex = #{sex,jdbcType=BIT},
            </if>
            <if test="enabled != null">
                enabled = #{enabled,jdbcType=BIT},
            </if>
            <if test="updateTime != null">
                updateTime = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType = INTEGER}
    </update>

</mapper>